﻿@model AutoRent.RelationalServices.Domain.UserModel.User
@{
    ViewBag.Title = "User Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron" style="border-radius: 0; padding: 50px 0px; background-color: #1a1a1a; color: lightgrey; margin: 0">
    <div class="container">
        <h2 class="text-uppercase">User Log In</h2>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin: 80px 35px 50px 35px" align="center">
        <h2 style="margin-bottom: 25px">Log In</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Log In" class="btn btn-default btn-lg" />
            </div>
        </div>

        <div>
            <p class="text-danger">@TempData["TextError"]</p>
        </div>
    </div>
}

<div align="center" style="margin: 30px 0 80px 0">
    <div>
        You haven't got a registration:
        @Html.ActionLink("Register", "Create", "User")
    </div>
    <div style="margin-top: 10px">
        You are admin:
        @Html.ActionLink("Admin Log In", "AdminLogIn", "Authentication")
    </div>
</div>

