﻿@model AutoRent.WebProject.ViewModels.EmailSendingViewModel
@using AutoRent.Controllers
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron" style="border-radius: 0; padding: 50px 0px; background-color: #1a1a1a; color: lightgrey; margin: 0">
    <div class="container">
        <h1 class="text-uppercase">Contacts</h1>
        <h3 class="lead text-capitalize" style="margin-left: 130px">Here you can read some information to contact with us!</h3>
    </div>
</div>
<div class="row" style="margin: 50px 35px">
    <div class="col-md-12">
        <h4 class="text-success">@TempData["Email"]</h4>
        <h2 style="margin-bottom: 20px" align="center">Contacts</h2>
        <ul class="list-group">
            <li class="list-group-item">Email: <i>AutoRent@gmail.com</i></li>
            <li class="list-group-item">Skype: <i>Auto_Rent2018</i></li>
            <li class="list-group-item">Facebook: <i>AutoRent2018</i></li>
            <li class="list-group-item">Phone: <i>+359 555 555 55</i></li>
            <li class="list-group-item">Website: <i>www.AutoRent.com</i></li>
        </ul>
    </div>
</div>

@if (AuthenticationController.logged != null)
{
    using (Html.BeginForm())
    {
        <div class="form-horizontal" style="margin:50px 35px" align="center">
            <h2 style="margin-bottom: 25px">Or you can write us directly!</h2>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control", placeholder = "From" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Subject" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Body, new { htmlAttributes = new { @class = "form-control"}, style = "width: 100%; border-radius: 5px", rows = 5, placeholder = "Enter Body" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Send Email" class="btn btn-default btn-lg" />
                </div>
            </div>
        </div>
    }
}

