﻿
@{
    ViewBag.Title = "EmptyCarAmount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Amount is Zero</h2>
<div class="row">
    <div class="alert alert-info" style="padding: 30px" align="center">
        This car is no longer avaliable for renting for now. You can choose from the avaliable 
        cars for renting in the Cars Page. Please, contact us if you want to rent exactly this one. 
        You can find information about how to contact us in the Contacts page.
    </div>
</div>

