﻿@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Error</h2>
<div class="row">
    <div class="alert alert-danger" style="padding: 30px" align ="center">
        ERROR 401 UNAUTHORIZED ACCESS
    </div>
</div>

