﻿@{
    ViewBag.Title = "AutoRent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin: 0; padding: 0; width: 100%">
    <img src="https://wallpaperscraft.com/image/bmw_i8_concept_car_dark_525_1920x1080.jpg" class="img-responsive">
    <div style="position: absolute; top: 15%; left: 20%; color: lightgray; text-shadow: 1px 1px 5px #000000">
        <h1 class="text-uppercase">AutoRent</h1>
        <h2 class="lead text-capitalize"><i>Here you can rent whatever car you like!</i></h2>
    </div>
</div>
<div class="container-fluid" style="margin: 50px 35px">
    <div class="row">
        <div class="col-md-6">
            <h2>Find your car</h2>
            <p>
                Here you can find the car you like the most and can rent it for a period of time which is
                chosen by you! The cars are in best condition and you will be very happy with your rent.
                If you cannot find the exact car or truck that you are looking for you can contact us
                and ask for a certain model, we will answer you as soon as we see the message and we will
                check if we are going to have this model in the future.
            </p>
        </div>
        <div class="col-md-6">
            <h2>Make an account</h2>
            <p>
                Before you start you have to make an account (register) in order to rent a car.
                Without a registration you can only look but cannot rent anything. Make a
                registation and look all the cool automobiles we offer. You will also get an
                email notification about your regist
            </p>
        </div>
    </div>
    <div class="row" style="margin: 44px 0;"></div>
    <div class="row">
        <h2 align="center" style="margin-bottom:30px">Some Comments</h2>
        <div class="col-md-4">
            <blockquote>
                <p>Very cool site! I am glad that i rent a car from here!</p>
                <footer>Jessica Smith</footer>
            </blockquote>
        </div>
        <div class="col-md-4">
            <blockquote>
                <p>I rent a car from here last month it was great. I didn't have any problems with it!</p>
                <footer>John Jonson</footer>
            </blockquote>
        </div>
        <div class="col-md-4">
            <blockquote>
                <p>From here i rent a car for my family vacation and it was in a grat condition. No problems, excellent maintenance.</p>
                <footer>Vanessa Parker</footer>
            </blockquote>
        </div>
    </div>
</div>

