﻿@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin: 0; padding: 0; width: 100%">
    <img src="http://cdn.wonderfulengineering.com/wp-content/uploads/2013/12/bugatti-wallpaper.jpg" class="img-responsive">
    <div style="position: absolute; top: 15%; left: 20%; color: lightgray; text-shadow: 1px 1px 5px #000000">
        <h1 class="text-uppercase">AutoRent</h1>
        <h2 class="lead text-capitalize"><i>Here you can rent whatever car you like!</i></h2>
    </div>
</div>

<div class="row" align="center" style="margin: 50px 35px">
    <div class="col-md-6">
        <h3>Leatest news about trucks</h3>
        <p>
            One of the best-selling vehicles in the United States is the Ford F-Series lineup of full-size trucks. Some trucks still server a very important part of many automaker lineups, although, crossovers are leading in the industry. Whether you want to find a big truck, a small or a compact/midsize automobile you can search for more information in order to find the truck that best suits you.
        </p>
    </div>
    <div class="col-md-6">
        <h3>New automobiles</h3>
        <p>
            There are many car brands: Alfa Romeo, Aston Martin, Audi, BMW, Chevrolet, Citroen, Fiat, Ford, Honda, Toyota, Hyundai, Infinity, Jaguar, Jeep, Kia etc. which come from different countries: China, Japan, Germany, France, Italy etc. and in different prices. Here in “AutoRent” you can search for the newest models of these brands and many more to find the car that you want to rent or the truck that you need. Follow our page for new offers.
        <p>
    </div>
</div>
