﻿@model AutoRent.RelationalServices.Domain.CarModel.Car

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center" style="margin-top: 50px">Car Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" style="padding: 20px">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            Image
        </dt>

        <dd>
            <img style="width:65%" src="@Model.ImgURL" alt="Image could not be found" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceOfCar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceOfCar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceOfRentPerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceOfRentPerDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfDoors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfDoors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin: 0 0 295px 25px">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
