﻿@using AutoRent.Controllers
@model AutoRent.RelationalServices.Domain.CarModel.Car

@{
    ViewBag.Title = "Details";
}

<h2 align="center" style="margin-top: 50px">Car Details</h2>

<div class="row">
    <hr />
    <div class="col-md-6">
        <img style="width:80%" src="@Model.ImgURL" alt="Image could not be found" />
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal" style="padding: 20px">
            <dt>
                @Html.DisplayNameFor(model => model.Brand)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Brand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Model)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Model)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>

            <dd>
                @for (int i = 0; i < Model.Color.Split(',').Length; i++)
                {
                    @Html.DisplayFor(model => model.Color.Split(',')[i]);
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumberOfSeats)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfSeats)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PriceOfCar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PriceOfCar)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PriceOfRentPerDay)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PriceOfRentPerDay)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FuelCapacity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FuelCapacity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumberOfDoors)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfDoors)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FuelType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FuelType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>

            <dt></dt>
            <dd style="margin-top: 30px">
                @if (AuthenticationController.IsLoggedAdmin)
                {
                    @Html.ActionLink("Edit", "Update", new { id = Model.Id })
                    <span>|</span>
                }
                @Html.ActionLink("Back to List", "Index")
            </dd>
        </dl>
    </div>
</div>
