﻿@using AutoRent.Controllers
@model IEnumerable<AutoRent.RelationalServices.Domain.CarModel.Car>

@{
    ViewBag.Title = "Index";
}

<h2 align="center" style="margin-top: 50px">All Automobiles</h2>

@if (AuthenticationController.IsLoggedAdmin)
{
    <p style="margin-top: 70px">
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table" style="margin: 0 0 200px 0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceOfCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceOfRentPerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDoors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @for (int i = 0; i < item.Color.Split(',').Length; i++)
             {
                 @Html.DisplayFor(modelItem => item.Color.Split(',')[i]);
             }
        </td>
        <td>
            <img style="width:50%" src="@item.ImgURL" alt="Image could not be found" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfSeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceOfCar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceOfRentPerDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfDoors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        @if (AuthenticationController.IsLoggedAdmin)
        {
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.Id })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
        }
       else if (AuthenticationController.logged != null)
     {
    <td>
        @Html.ActionLink("Rent", "Create", "CarRent", new { id = item.Id }, new { @class = "btn btn-primary" })
    </td>
        }       
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
        </td>
    </tr>
    }

</table>
