﻿@using AutoRent.Controllers
@model IEnumerable<AutoRent.RelationalServices.Domain.CarModel.CarRent>

@{
    ViewBag.Title = "CarRents";
}

<h2 align="center" style="margin-top: 50px">User Car Rents</h2>

<table class="table" style="margin: 70px 0 30px 0">
    <thead>
    <tr>
        <th>
            Brand
        </th>
        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnAddress)
        </th>
        <th></th>
    </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            @if (item.Car != null)
            {
            <td>
                @Html.DisplayFor(modelItem => item.Car.Brand)
            </td>
            <td>
                <img style="width:50%" src="@item.Car.ImgURL" alt="Image could not be found" />
            </td>
            }
            else
            {
            <td>
                Car has been removed!
            </td>
            <td>
                Car has been removed!
            </td>     
            }
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnAddress)
            </td>
            @if (AuthenticationController.IsLoggedAdmin)
            {
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>
