﻿@model AutoRent.RelationalServices.Domain.PaymentModel.Payment
@using AutoRent.Controllers

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center" style="margin-top: 50px">Payment Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" style="padding: 20px">
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardExpiresOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardExpiresOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMainPaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMainPaymentMethod)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin: 0 0 228px 25px">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @if (AuthenticationController.IsLoggedAdmin)
            {
                @Html.ActionLink("Back to List", "Index")
            }
            else
            {
                @Html.ActionLink("Back to List", "ListCurrentUserPayments")
            }
        </div>
    }
</div>
